.corpo {
	background-color: #dcdcdc;
	color: #000000;
	font-family: 'Roboto', sans-serif;
}

header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 0;
	margin-bottom: 10px;
	position: fixed;
	width: 100%;
	background-color: var(--navy);
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	color: var(--white);
}

.container-menu {
	display: flex;
	justify-content: space-around;
	width: 75%;
}

.menu, .link {
	color: black;
	text-decoration: none;
	color: var(--white);
}

.link {
	font-size: 20px;
	color: var(--navy);
}

/*Inicio*/

.container-inicio {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 75px 0 30px 10px;
	border-bottom: solid 2px black;
}

.inicio-imagem {
	width: 15%;
	border-radius: 100%;
	border: 2px solid black;
	margin-left: 10px;
}

.container-orientacao {
	display: flex;
	flex-direction: column;
	width: 500px;
	align-items: stretch;
}

.container-texto {
	display: flex;
	flex-direction: column;
	padding: 20px;
	align-items: center;
}

h2 {
	text-align: center;
}

.titulo {
	font-size: 60px;
	padding-bottom: 10px;
}

.sub-titulo {
	font-size: 20px;
}

.container-link {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
}

/*Informações*/
.container-informacoes{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-sobre-mim {
	display: flex;
	align-items: center;
	flex-direction: column;
	border-bottom: solid 2px black;
	padding: 30px;
	width: 1802px;
}

.titulo2 {
	font-size: 40px;
	text-decoration: underline var(--navy);
}

.lista__informacoes {
	padding: 5px;
}

.lista-itens {
	font-size: 20px;
	padding: 5px;
}

.lista-itens:first-child {
	list-style-image: url('../img/svg/moon-stars-fill.svg');
}

.lista-itens:nth-child(2) {
	list-style-image: url('../img/svg/chat-right-heart-fill.svg');
}

.lista-itens:nth-child(3) {
	list-style-image: url('../img/svg/geo-alt-fill.svg');
}

.lista-itens:nth-child(4) {
	list-style-image: url('../img/svg/envelope-heart-fill.svg');
}

/*Hobbies, skills e formação*/
.container-hobbies-skills-formacao{
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid black;
}

.container-skills, .container-formacao {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	margin: 10px 0;
}

.container-formacao {
	height: 800px;
	width: 1280px;
}

.lista-skills, .lista-formacao {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px;
	width: 80%;
	justify-content: center;
}

.lista-formacao {
	flex-wrap: wrap;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
	gap: 8px;
	width: 120px;
	height: 120px;
	background: var(--navy);
	margin: 0 5% 2% 0;
	border: solid 2px black;
	color: var(--white);
}

.container-experiencia {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 3% 0 3% 0;
	border-bottom: 2px solid black;
}

.container-experiencia :nth-child(2n) {
	flex-direction: row-reverse;
}

.experiencia-div {
	display: flex;
	justify-content: space-around;
	margin: 3%;
}

.experiencia-texto {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 30%;
	font-size: 20px;
}

.exp-titulo {
	font-style: oblique;
	font-weight: bold;
	text-decoration: underline;
	font-size: 40px;
}

.container-botoes {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.experiencia-botao, .form-botao {
	height: 40px;
	border: none;
	border-radius: 10px;
	background-color: var(--navy);
	cursor: pointer;
	color: var(--white);
}

.experiencia-imagem {
	width: 60%;
	border: solid 2px black;
}

/*Contato*/
.container-contato {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 3%;
}

.contato-texto {
	font-size: 30px;
	width: 100%;
	background-color: var(--navy);
	padding: 15px 0;
	margin-bottom: 2%;
	color: var(--white);
}

.form-contato {
	height: 300px;
	padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mensagem-contato {
	display: flex;
	flex-direction: column;
	align-items: center;
}

textarea {
	resize: none;
}

/*Rodapé*/
.container-rodape {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 60px;
	margin-top: 60px;
	border-top: 2px solid black;
	background: var(--navy);
	color: var(--white);
}