header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	margin-bottom: 10px;
	position: fixed;
	width: 100%;
	background-color: #89bd78;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container-menu {
	display: flex;
	justify-content: space-around;
	width: 75%;
}

.nome-menu {
	display: flex;
	justify-content: space-around;
	width: 20%
}

.menu, .link {
	color: black;
	text-decoration: none;
}

.link {
	font-size: 20px;
	color: #89bd78;
}

/*Inicio*/

.container-inicio {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 75px 0 30px 0;
	border-bottom: solid 2px black;
}

img {
	width: 20%;
	border-radius: 50%;
}

.container-orientacao {
	display: flex;
	flex-direction: column;
}

.container-texto {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

h2 {
	text-align: center;
}

.titulo {
	font-size: 35px;
}

.sub-titulo {
	font-size: 20px;
}

.container-link {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
}

/*Informações*/
.container-informacoes{
	display: flex;
	flex-direction: column;
}

.container-sobre-mim {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 15px;
	border-bottom: solid 2px black;
}

.titulo2 {
	font-size: 40px;
	margin: 10px;
}

.sub-titulo2 {
	font-size: 20px;
	width: 60%;
	margin-bottom: 20px;
}

/*Hobbies*/
.container-hobbies-skills-formacao{
	display: flex;
	flex-direction: column;
}

.container-hobbies, .container-skills, .container-formacao {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 300px;
}

.lista-hobbies, .lista-skills, .lista-formacao {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px;
	width: 80%;
	justify-content: space-around;
}

.lista-formacao .box {
	width: 8%;
}

.box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 16px;
	gap: 8px;
	width: 150px;
	height: 150px;
	background: #89bd78;
}

/*Mobile*/
@media (max-width: 720px) {
	header .container {
		justify-content: space-around;
		align-items: center;
	}

	.nome-menu {
		font-size: 12px;
		width: 15%;
		text-align: center;
	}

	.container-menu {
		width: 85%;

	}

	.menu, .link {
		font-size: 9px;
	}

	/*Inicio*/
	.container-inicio {
		padding: 0;
		flex-direction: column;
	}
}