@media screen and (min-width: 0) {
	.container-inicio {
		flex-direction: column;
	}

	.nome-menu {
		width: 30%;
		margin-left: 10px;
		text-align: center;
	}

	.container-menu {
		width: 70%;
		justify-content: flex-end;
	}

	.menu:nth-child(-n+4) {
		display: none;
	}

	.menu:nth-child(5) {
		margin-right: 45px;
	}

	.container-hobbies, .container-skills {
		height: 200px;
		width: 100%;
	}

	.lista-hobbies, .lista-skills {
		width: 40%;
	}

	.lista-formacao {
		width: 95%;
	}

	.lista-formacao .box {
		height: 80px;
		margin: 0 1% 2% 0;
	}

	.box {
		height: 80px;
	}

	.exp-titulo {
		font-size: 20px;
		margin-bottom: 5px;
	}

	.container-botoes {
		margin-top: 5px;
	}

	.experiencia-crip, .experiencia-forca {
		margin: 5% 0;
	}

	.experiencia-botao {
		width: 50px;
	}

	.form-botao {
		width: 310px;
	}

}

@media screen and (min-width: 480px) {
	.lista-hobbies, .lista-skills {
		width: 80%;
	}

	.exp-titulo {
		font-size: 25px;
		margin-bottom: 5px;
	}

	.container-botoes {
		margin-top: 5px;
	}

	.experiencia-crip, .experiencia-forca {
		margin: 5% 0;
	}

	.experiencia-botao {
		width: 80px;
	}

	.form-botao {
		width: 310px;
	}
}

@media screen and (min-width: 720px) {
	.container-inicio {
		flex-direction: row;
	}

	.container-hobbies, .container-skills {
		height: 300px;
	}

	.lista-formacao .box {
		margin: 0 5% 2% 0;
	}
}

@media screen and (min-width: 992px) {
	.nome-menu {
		width: 20%;
		text-align: center;
	}

	.menu:nth-child(-n+4) {
		display: flex;
		justify-content: space-around;
		width: 20%
	}

	.experiencia-botao {
    	width: 145px;
    }
}